<div style="padding-top: 30px" class="col-md-4 offset-md-4">
    <form action="" method="post">
        <div class="form-group">
         <label for="Name">Name</label>
         <input type="text" name="name" placeholder="Please Enter Your Name" class="form-control" id="">

        </div>

        <div class="form-group">
         <label for="Adress">Adress</label>
         <input type="text" name="adress" placeholder="Please Enter Your Adress" class="form-control" id="">
        </div>

        <div class="form-group">
         <label for="credit card name">credit card name</label>
         <input type="text" name="credit card name" placeholder="Please Enter Your credit card name" class="form-control" id="">
        </div>
        
        <div class="form-group">
         <label for="credit card numper">credit card numper</label>
         <input type="text" name="credit card numper" placeholder="Please Enter Your credit card numper" class="form-control" id="">
        </div>
       <div class="row">
        <div class="col-md-6">
                <div class="form-group">
         <label for="expration month">expration month</label>
         <input type="number" name="expration month" placeholder="Please Enter Your expration month" class="form-control" id="">
        </div>
       </div>
             <div class="col-md-6">
                  <div class="form-group">
                <label for="expration year">expration year</label>
                <input type="number" name="expration year" placeholder="Please Enter Your expration year" class="form-control" id="">
                </div>

             </div>
       
       </div>
       
        <div class="form-group">
                <label for="CVC">CVC</label>
                <input type="number" name="CVC" placeholder="Please Enter Your CVC" class="form-control" id="">
                </div>
                <br><br>
     <div class="text-center">
      <button type="submit" class="btn btn-success">CheackOut ${{totalPrice}}</button>

     </div>
    </form>
</div>